@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111217;
  --muted-foreground: #191a1f;
  --primary: #ff6400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111217;
    --foreground: #ffffff;
    --primary: #ff6400;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

